.moreCard {
    border: 2px solid #2B88B7 !important;
    border-radius: 0 !important;
    padding: 20px !important;
    display: flex !important;
    align-items: flex-start !important;
    max-width: 1100px !important;
    background-color: white !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    flex-direction: row !important;
    margin: 50px auto !important; /* Центрирование карточки */
    position: relative !important;
}

.moreCardImage {
    border-radius: 10px !important;
    margin-right: 20px !important;
    width: 300px !important;
    height: 250px !important;
    object-fit: cover !important;
}

.textStyleMore {
    font-size: 24px !important;
    font-weight: bold !important;
    margin-bottom: 12px !important;
    text-align: center !important;
    width: 100% !important;
    align-self: flex-start !important;
}

.moreCardPriceButtonWrapper {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    font-weight: bold !important;
    font-size: 20px !important;
    position: absolute !important;
    bottom: 30px !important;
    right: 30px !important;
}

.moreCardPrice {
    color: black !important;
    font-size: 24px !important;
    font-weight: bold !important;
}

/* Адаптивные стили для узких экранов */
@media (max-width: 768px) {
    .moreCard {
        flex-direction: column !important;
        align-items: center !important;
        width: 70% !important;       /* Занимает 90% от ширины экрана */
        max-width: 500px !important;  /* Но не более 500px */
        margin: 20px auto !important; /* Немного уменьшаем отступ сверху/снизу */
    }
    .moreCardImage {
        width: 100% !important;
        height: auto !important;
        margin-right: 0 !important;
        margin-bottom: 20px !important;
    }
    .detailedDescription {
        display: none !important;
    }
    .moreCardPriceButtonWrapper {
        position: static !important;
        margin-top: 20px !important;
        justify-content: center !important;
    }
}
