/* Navbar.css */

.navbar-custom {
    background: linear-gradient(to bottom, #e0f0ff, #abe0ff) !important; /* Градиентный фон */
    border-bottom: solid #b0cee3 !important; /* Линия разделения */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 40px !important; /* Уменьшение высоты навбара */
    padding: 0 !important;
    width: 100% !important;
}

.navbar-custom .nav-link {
    color: #165B84 !important; /* Базовый цвет текста */
    font-weight: bold !important;
    text-transform: uppercase !important;
    margin: 0 10px !important; /* Отступы между элементами */
    transition: background 0.3s, color 0.3s; /* Плавный переход для фона и цвета */
    display: inline-block !important;
    font-size: 15px !important;
}

/* Стили при наведении */
.navbar-custom .nav-link:hover {
    color: #ffffff !important; /* Белый текст */
    background: linear-gradient(to bottom, #2785B7, #165B84) !important; /* Тёмно-синий фон */
}

/* Если элемент в фокусе, но на него не наведена мышь, применяем базовый стиль */
.navbar-custom .nav-link:focus:not(:hover) {
    color: #165B84 !important;
    background: none !important;
}

/* Переопределяем стили для активного класса (например, от NavLink) */
.navbar-custom .nav-link.active {
    color: #165B84 !important;
    background: none !important;
}

.navbar-custom .container {
    padding: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    max-width: 1200px !important;
    width: 100% !important;
    position: relative !important;
}

.navbar-custom .nav {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    gap: 20px !important;
}
