.container {
    display: flex;
    flex-direction: column;
    min-width: 800px;
}
.containerLoading {
    filter: blur(8px);
}

@media (max-width: 600px) {
    .container{
        min-width: auto;
    }
}

.full-width-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.cart-icon {
    position: fixed;
    bottom: 30px; /* Отступ от нижнего края экрана */
    left: 20px;   /* Отступ от левого края экрана */
    width: 50px;  /* Размер значка корзины */
    height: 50px;
    z-index: 1000; /* Устанавливает высокий приоритет отображения */
}

.cart-icon img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 20px;
}

.cart-icon .badge {
    position: absolute;
    top: -13px; /* Настройте отступ сверху */
    right: -13px; /* Настройте отступ справа */
    background-color: #2785B7; /* Цвет кружка */
    color: white; /* Цвет текста */
    border-radius: 50%;
    padding: 7px 7px; /* Размеры кружка */
    font-size: 12px; /* Размер текста */
    font-weight: bold; /* Толщина шрифта */
}